/* Mobile CSS settings*/
@media only screen and (max-width: 767px){
	h1 {
		font-size: 6em;
		color: #FFD14B;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h2 {
		margin-top: 0px;
		font-size: 5em;
	}
	h3 {
		font-size: 3em;
		margin-top: -30px;
	}
	h4 {
		font-size: 1.5em;
	}
	h5 {
		display: none;
	}
	#color {
		color: #F3BC00;
	}
}
/* Tablet CSS settings*/
@media only screen and (min-width: 768px) and (max-width: 1204px){
	h1 {
		font-size: 8em;
		text-align: left;
	}
	h2 {
		font-size: 5em;
		text-align: left;
	}
	h3 {
		font-size: 3em;
		text-align: left;
	}
	.borders {
		width: 100%;
	}
	#poohbear {
		width: 75%;
	}
	h4 {
		font-size: 1.5em;
		text-align: left;
	}
	h5 {
		display: none;
	}
	nav {
		font-size: 2em;
		display: flex;
		justify-content: flex-start;
		margin-left: 0px;
	}
	nav a {
		margin-left: 0;
	}
	#color {
		color: #F3BC00;
	}
	#imgcontainer {
		justify-content: flex-start;
		margin: 0;
	}
}
@media only screen and (min-width: 1205px) {
    #wrapper {
        width: 85%;
        padding-left: 15vw;
    }

    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 2vw;
    }
	h4 {
		display: none;
	}
    h5 {
        font-size: 1vw;
		display: flex;
    }
    .borders {
        width: 50%;
		display: flex;
		margin: 0 auto;
    }

    #poohbear {
        width: 40%;
        display: block;
        margin: 0 auto;
    }
    #container {
        width: 15%;
        height: 100vh;
        background-color:#F3BC00;		
        position: fixed;
        top: 0;
        left: 0;
    }
    nav {
        font-size: 2.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    nav a {
        margin-bottom: 2vh;
        text-align: center;
    }
    #arrow {
        width: 5vw;
    }
	#blockquote {
		background-color: white;
		border-radius: 50px;
		width: 80%;
		display: flex;
	    margin-left: -0.5vw;
}
	#color:hover {
		color: white;
	}
	.color2:hover {
		color: white;
	}
	#arrow:hover {
		filter: invert(100%) brightness(100%);
		}
}